/* form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: radial-gradient(circle, #c0c0aa, #1cefff);
}

.button-claro {
  background-color: #08ebfc;
  outline: none;
} */