.nav-bar-claro {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content:flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.nav-bar-options-claro {
 padding: 0;
 display: flex;
 align-content: center;
 gap: 2rem;
 margin-right: 3rem;
}

.link-claro {
   color: rgb(9, 52, 90);
   font-size: 2rem;
}

/* <------ Dark mode ---------> */

.nav-bar-oscuro {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content:flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.nav-bar-options-oscuro {
 padding: 0;
 display: flex;
 align-content: center;
 gap: 2rem;
 margin-right: 3rem;
}

.link-oscuro {
   color: aliceblue;
   font-size: 2rem;
}